//font-awesome
$fa-font-path: "../fonts" !default;

//Bootstrap
$blue: #39A8CB !default;
$white: #fff !default;
$primary: $white !default;
$body-bg: $blue !default;
$body-color: $white !default;
$font-family-sans-serif: "jaf-bernina-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, !default;
$headings-font-family: inherit !default;
$font-weight-base: 300 !default;

$link-color: $white !default;
